<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Kontakt</h4>
          <p>Telefon: 123-456789</p>
          <p>Blumen Straße, 16, 28199 Lilienthal</p>
          <p>E-Mail: info@rostinblumenladen.com</p>
        </div>
        <div class="col-md-6">
          <h4>Folgen Sie uns</h4>
          <ul class="social-icons">
            <li><a href="https://de-de.facebook.com/" target="_blank"><img src="assets/images/facebook.png" alt="Facebook"></a></li>
            <li><a href="https://twitter.com/?lang=de" target="_blank"><img src="assets/images/twitter.png" alt="Twitter"></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><img src="assets/images/instagram.jpeg" alt="Instagram"></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">© 2024 Rostin der Bluemen Laden. Alle Rechte vorbehalten.</p>
        </div>
      </div>
    </div>
  </footer>
  